* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "e-Ukraine-Light";
  src: local(""),
    url("./assets/fonts/ukr/e-Ukraine-Light.otf") format("opentype");
}

@font-face {
  font-family: "e-Ukraine-Bold";
  src: local(""),
    url("./assets/fonts/web/e-Ukraine-Regular.woff") format("woff");
}

@font-face {
  font-family: "e-Ukraine-Light";
  src: local(""), url("./assets/fonts/web/e-Ukraine-Light.woff") format("woff");
}

body {
  font-family: e-Ukraine-Light, sans-serif !important;
}
main {
  flex: 1;
}
footer {
  margin-top: auto;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

li {
  list-style: none;
}

.container {
  margin: auto 40px;
  padding: 40px 0;
}

h1 {
  font-family: e-Ukraine-Light, sans-serif;
}

h2 {
  padding-bottom: 15px;
}

.header {
  background: powderblue;
}

.header .header__container {
  padding: 20px;
}

.header .inner,
.modal-controls {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.header .inner .header-title {
 width: 100%;
 text-align: center;
}

.modal-controls {
  padding: 25px 0;
}

.header .controls .btn-add {
  background: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.header .controls .btn-add,
.close-modal-btn,
.submit-btn {
  font-family: e-Ukraine-Light, sans-serif;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.3s;
}
.submit-btn {
}

.close-modal-btn {
  background: cornflowerblue;
  border: none;
}

.header .controls .btn-add:hover {
  border: 1px solid powderblue;
}
.item-list-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-list-title {
  margin: 20px 0;
  padding: 0;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-content {
  position: relative;
  width: 90%;
  background: white;
  padding: 40px 20px 60px 20px;
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.form-inner label {
  display: flex;
  flex-direction: column;
}

.form-inner label p,
.form-inner .helper-text {
  font-size: 13px;
  color: #767373;
  margin-bottom: 5px;
}

.form-inner .textfield {
  font-family: e-Ukraine-Light, sans-serif;
  width: 100%;
  padding: 10px 25px 10px 15px;
  font-size: 16px;
  border: 1px solid #4e82c4;
  border-radius: 4px;
}

.textfield-box {
  position: relative;
  display: flex;
  align-items: center;
}

.textfield-box.contacts {
  flex-direction: column;
  gap: 10px;
}

.textfield-box .textfield-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-mail svg,
.add-contact svg {
  fill: #4e82c4;
}
.add-mail,
.add-contact {
  transition: all ease-in-out 0.3s;
}

.add-mail:hover,
.add-contact:hover {
  transform: scale(1.1);
  transform-origin: top;
  transition: all ease-in-out 0.3s;
}

.uploaded-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 10px;
}

.textfield-file-controls {
  display: flex;
  gap: 10px;
}

.file-textfield {
  border: 2px dashed #4e82c4;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.textfield-box .clear-input {
  position: absolute;
  right: 0;
  margin-right: 2px;
  cursor: pointer;
}

.preview-icon-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-box {
  background: #fff;
  padding: 20px 50px 50px 50px;
  position: fixed;
  width: 85%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
}

.preview-icon,
.clear-input,
.preview-icon-close,
.file-textfield,
.add-contact,
.icon-remove-contact,
.add-mail {
  cursor: pointer;
}

.image-preview {
  width: 100%;
  height: auto;
}

.item-list.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all ease-in-out 0.3s;
  opacity: 1;
}

.item-list.grid {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all ease-in-out 0.3s;
  opacity: 1;
}

.item-list-top .view-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-list .item {
  border: 1px solid #4e82c4;
  border-radius: 6px;
  padding: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  min-height: 250px;
}

.item-list .item:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item .item-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
}

.item .item-inner h2 {
  text-align: center;
  align-self: center;
}

.item .item-inner .item-logo {
  object-fit: contain;
  max-width: 100%;
  height: 100px;
  aspect-ratio: 16/5;
}

.item .item-inner .item-label {
  color: darkgrey;
  font-size: 12px;
  padding-bottom: 8px;
}
.item-inner .item-logo-box {
  text-align: center;
}

.item .item-controls {
  padding-top: 25px;
  margin-top: 40px;
  border-top: 1px solid #4e82c4;
}

.content-box .item-chips-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.content-box .item-contact-wrapper {
  display: flex;
  align-items: end;
  gap: 25px;
}
.content-box .item-contact-wrapper svg {
  font-size: 18px;
}

.content-box .item-contact-wrapper p {
  font-size: 15px;
}

.content-box .item-chips-box .item-chips {
  border-radius: 16px;
  padding: 8px 10px;
  background: rgba(0, 0, 0, 0.08);
  width: fit-content;
  font-size: 13px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  white-space: unset !important;
}

.helper-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.helper-text-box .contacts-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auth-form,
.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.history-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.history-list-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #4e82c4;
}
.history-list-header {
  padding-bottom: 10px;
  border-bottom: 1px dashed #4e82c4;
}
.item-content-inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.item-content-inner-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text-box {
  padding: 5px 15px;
  border-radius: 4px;
}

.text-box.background-from {
  background-color: rgba(255, 229, 81, 0.29);
}

.text-box.background-to {
  background-color: rgba(46, 251, 83, 0.29);
}
/* .compare-box{
  border: 1px dashed tomato;
  margin: 10px 0;
} */

.compare-box:after,
.compare-box:before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #f2f2f2;
  /* background: #4e82c4; */
  margin-bottom: 10px;
}
.icon-wrapper {
  display: flex;
  justify-content: center;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 14px !important;
}
.MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 0 !important;
}
.MuiAccordionSummary-content {
  align-items: center;
  justify-content: space-between;
}
